// BASE

$petroleum-color: #90A9B1;
$petroleum-dark-color: #115E67;
$petroleum-light-color: #C5D3D6;
$orange-color: #fa4616;
$purple-color: #59315F;

$body-bg: #d7e5e6;
$body-font-color: #2c2c2c;

$orange-graphics: #fa4616;

$orange-to-white: #db380f;
$teal-to-white: #075c66;
$purple-to-white: #59315e;

$lightblue-to-white: #527b84;
$lightblue-to-body-bg: #45686e;

$blue-1-to-body-font-color: #bacdd1;
$blue-2-to-body-font-color: #9ab7bd;
$blue-3-to-body-font-color: #7ba6ad;
