/*
 * Map of breakpoints, use with @include bp(<name>).
 * Key in map is the <name> used in the mixin,
 * value in map is a list containing: first the breakpoint, second if you want to generate js meta tag helper
 */

$breakpoints: (
	main-nav-inline: (42.5em, false),
	page-header-top-bar-inline: (56.5em, false), // when changing the breaikpoint, update it in `main-nav.js` and `page-header.js`
	about-lg: (50em, false),
	about-subsidiary-inline: (60em, false),
	about-subsidiary-lg: (80em, false),
	board-members-nowrap: (60em, false),
	board-member-bio-dialog-bg: (60em, false),
	media-gutter-lg: (54em, false),
	contact-lg: (50em, false),
	contact-inline: (50em, false),
	page-footer-2-on-row: (32em, false),
	page-footer-4-on-row: (55em, false),
	post-lg: (45em, false)
);

@include js-media-helpers($breakpoints);
