.a11y-skip-to {
	// `.visuallyhidden` doplněna o pozicování a další styly
	position: fixed;
	top: 0;
	left: -100%;
	z-index: z(a11y-skip-to);
	display: inline-block;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	font-size: 1.5em;
	white-space: nowrap;
	background-color: #fff;
	color: #000;
	overflow: hidden;
	clip: rect(0 0 0 0);

	@media print {
		display: none !important;
	}

	&:focus,
	&:active {
		left: 0;
		width: auto;
		height: auto;
		margin: 0 auto;
		padding: 1em 2em;
		white-space: inherit;
		overflow: visible;
		clip: auto;
	}
}
