$main-nav-toggle-transition-duration: .3s;

.main-nav-toggle {
	display: flex;
	align-items: center;
	margin-right: $gutter;
	margin-left: $gutter;
	padding: .5rem .75rem;
	border: 1px solid;
	border-radius: 2px;
	background: none;
	color: #fff;

	&[type="button"] { // specificity hack
		-webkit-appearance: none;
	}
}

.main-nav-toggle-hamburger {
	display: flex;
	height: 1rem;
	width: 1.25rem;
	flex-direction: column;
	justify-content: space-between;
}

.main-nav-toggle-hamburger-line {
	display: block;
	height: 2px;
	width: 100%;
	border-radius: .5rem;
	background-color: currentColor;
	transition: transform $main-nav-toggle-transition-duration, opacity $main-nav-toggle-transition-duration;

	@media screen and (prefers-reduced-motion: reduce) {
		transition: none;
	}

	&:nth-child(1) {
		transform-origin: top left;

		.main-nav-toggle[aria-expanded="true"] & {
			transform: rotate(45deg) translateX(.5px);
		}
	}

	&:nth-child(2) {
		.main-nav-toggle[aria-expanded="true"] & {
			opacity: 0;
		}
	}

	&:nth-child(3) {
		transform-origin: bottom left;

		.main-nav-toggle[aria-expanded="true"] & {
			transform: rotate(-45deg) translateX(.5px);
		}
	}
}

.main-nav-toggle-label {
	margin-left: .5rem;
}
