body.has-main-nav-in-overlay {
	overflow: hidden;
}

.main-nav {
	width: 100%;

	@include bp(page-header-top-bar-inline) {
		width: auto;
		margin-right: $gutter;
	}

	&[aria-hidden="true"] {
		display: none;
	}
}

.main-nav-list {
	display: flex;
	flex-direction: column;
	padding-bottom: 1.5rem;
	padding-left: 0;
	list-style: none;

	@include bp(main-nav-inline) {
		flex-direction: row;
		justify-content: center;
		padding-bottom: 0;
	}

	@include bp(page-header-top-bar-inline) {
		justify-content: flex-end;
	}

	.page-header-top-bar.has-main-nav-collapsible & {
		@include bp(main-nav-inline) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

.main-nav-lang {
	order: 1; // zobrazení na konci odkazů, ale první při průchodu tabulátorem, pro jednoduché přepnutí jazykové mutace
}

.main-nav-link {
	display: block;
	padding: .75rem;
	font-size: (18 / 16 * 1rem);
	text-align: center;
	text-decoration: none;
	color: #fff;

	@include bp(main-nav-inline) {
		padding: 1.5rem 1.75rem;
		text-align: left;
	}

	.page-header-top-bar.has-main-nav-collapsible & {
		@include bp(main-nav-inline) {
			padding: .75rem;
		}
	}

	&:focus,
	&:hover {
		.main-nav-link-text {
			border-bottom: 2px solid $orange-graphics;
		}
	}
}

.main-nav-link-text {
	// kvůli podtržení při interakci
	padding-top: .25rem;
	padding-bottom: .25rem;
}
