$modal-close-width: 4.5rem;

.modal {
	display: none;

	&.is-open {
		position: relative; // z-index relativity
		z-index: z(modal);
		display: block;
	}
}

.modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.6);
}

.modal-container {
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: $lightblue-to-white;
	color: #fff;
}

.modal-close {
	-webkit-appearance: none;
	position: absolute;
	top: 0;
	right: 0;
	display: inline-flex;
	width: $modal-close-width;
	height: $modal-close-width;
	padding: $gutter;
	border: none;
	background: none;
	color: #fff;

	img {
		width: 100%;
	}
}
