@mixin page-border {
	content: "";
	display: block;
	width: 100%;
	height: .75rem;
	background-image: linear-gradient(
						to right,
						$orange-color 0%,
						$orange-color 20%,
						$petroleum-dark-color 40%,
						$petroleum-dark-color 60%,
						$purple-color 80%,
						$purple-color 100%
					  );
}
