{% extends "base.twig" %}

{% block content %}
	<main class="post">
		<header>
			<h1 class="post-title">
        {{ __('Stránka nebyla nalezena', 'nano-energies') }}
      </h1>
		</header>

		<div class="post-text">
			{{ __('Chyba 404', 'nano-energies') }}
		</div>
	</main>
{% endblock %}
