<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>

	<meta charset="{{ site.charset }}">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{ wp_title }}</title>

	{% include "partial/favicon.twig" %}

	{# Web Font Loader #}
	<script>
		{# loadJS: load a JS file asynchronously. [c]2014 @scottjehl, Filament Group, Inc. Licensed MIT #}
		(function(w){var loadJS=function(src,cb){"use strict";var ref=w.document.getElementsByTagName("script")[0];var script=w.document.createElement("script");script.src=src;script.async=true;ref.parentNode.insertBefore(script,ref);if(cb && typeof(cb)==="function"){script.onload=cb;}return script;};if(typeof module!=="undefined"){module.exports=loadJS;}else{w.loadJS=loadJS;}}(typeof global!=="undefined"?global:this));

		/* Font loading with optimization for Repeat Views */
		if ( sessionStorage.foutFontsLoaded ) {
			document.documentElement.className += ' has-fonts-loaded';
		}
		else {
			loadJS('{{ "fonts.js"|static_assets }}');
		}
	</script>

	{{ function('wp_head') }}

</head>
<body class="{{ body_class }}">

		<!--[if lte IE 9]>
			<p class="browser-upgrade">Používáte <strong>zastaralý</strong> prohlížeč. Prosím <a href="http://outdatedbrowser.com/cs">aktualizujte jej na novější verzi</a> pro lepší zážitek z&nbsp;procházení a vyšší bezpečnost.</p>
		<![endif]-->

		<a class="a11y-skip-to" href="#co-delame">
			{{ __('Přejít na obsah', 'nano-energies') }}
		</a>

		{% block header %}
			{% include 'partial/header.twig' %}
		{% endblock %}

		{% block content %}
			<main>
				<p>{{ __('Žádný obsah', 'nano-energies') }}</p>
			</main>
		{% endblock %}

		{% include 'partial/footer.twig' %}

		{{ function('wp_footer') }}

		<script>
			var staticAssets = function (fileName) {
				return '{{ static_assets_url }}' + fileName;
			};
		</script>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3L_ugnhRVHGrk4R4GZRCaZLfFWr7RO1c&callback=initGoogleMap" async defer></script>

	</body>
</html>
