{% extends "base.twig" %}

{% block content %}
	<main class="post">
		<header>
			<h1 class="post-title">{{ post.title }}</h1>
		</header>

		<div class="post-text">
			{{ post.content }}
		</div>
	</main>
{% endblock %}
