{% extends "base.twig" %}

{% block content %}
	<main class="post">
		<header>
			<h1 class="post-title">{{ post.title }}</h1>

			<time class="post-date" datetime="{{ post.post_date|date('Y-m-d') }}">
				{{ post.post_date|date_i18n }}
			</time>
		</header>

		<div class="post-text">
			{{ post.content }}
		</div>
	</main>
{% endblock %}
