.contact {
	display: flex;
	flex-direction: column;

	@include bp(contact-inline) {
		flex-direction: row-reverse;
	}
}

.contact-text,
.contact-map {
	@include bp(contact-inline) {
		width: 50%;
	}
}

.contact-text {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem $gutter;
	line-height: 1.6;
	background-color: $petroleum-color;
	color: #fff;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: -3.5rem;
		z-index: z(text-arrow, $z-contact);
		display: block;
		width: 0;
		height: 0;
		margin-top: auto;
		margin-bottom: auto;;
		border-width: 3.5rem 3.75rem 3.5rem 1.75rem;
		border-style: solid;
		border-color: rgba(255, 255, 255, 0) $petroleum-color rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
	}
}

.contact-map {
	z-index: z(map, $z-contact);
	max-height: 70vh;
	width: 100%;
	height: 18rem;

	@include bp(contact-inline) {
		max-height: none;
		height: auto;
	}
}

.contact-info {
	max-width: 16rem;
	text-align: center;
}

.contact-heading {
	font-size: 1.5rem;
	text-align: center;

	@include bp(contact-lg) {
		font-size: 2rem;
	}
}

.contact-subheading {
	margin-top: 2rem;
	font-size: 1rem;
	font-weight: $fw-default;
}

.contact-legal {
	dt,
	dd {
		display: inline;
	}

	dt::after {
		content: ":";
	}
}

.contact-subsidiaries {
	padding-left: 0;
	list-style: none;
}

.contact-email {
	display: inline-block;
	margin-top: 2rem;
	color: inherit;

	&:hover {
		text-decoration: none;
	}
}
