.page-header {
	display: flex;
	flex-direction: column;
	background-color: $petroleum-color;
	transition: background-color .5s ease;

	&.is-petroleum {
		background-color: $petroleum-color;
	}

	&.is-petroleum-dark {
		background-color: $petroleum-dark-color;
	}

	&.is-purple {
		background-color: $purple-color;
	}

	@include bp(main-nav-inline) {
		justify-content: center;
	}
}

.page-header-top-bar {
	z-index: z(page-header-top-bar);
	background-color: $petroleum-color;

	@include bp(page-header-top-bar-inline) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&.is-sticky {
		overflow-y: auto;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transition: background-color .5s ease;
	}

	&.is-top:not(.is-open) {
		background-color: rgba($petroleum-color, 0);
	}

	&.has-main-nav-collapsible {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	&::before {
		@include page-border;
		flex-shrink: 0;
	}
}

.page-header-top-bar-without-nav {
	.page-header-top-bar.has-main-nav-collapsible & {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-shrink: 0;
		width: 100%;
	}
}

.page-header-logo {
	width: (2.25rem + 2 * $gutter);
	padding: 1.5rem $gutter;
	margin-right: auto;
	margin-left: auto;

	@include bp(page-header-top-bar-inline) {
		margin-right: 0;
		margin-left: 0;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	&.is-large {
		width: (9.75rem + 2 * $gutter);
		transform: translateX(-.6rem); // centrování textu bez kytky

		@include bp(page-header-top-bar-inline) {
			margin-left: 1.75rem;
			transform: none;
		}
	}

	.page-header-top-bar.has-main-nav-collapsible & {
		margin-right: 0;
		margin-left: 0;

		&.is-large {
			width: (7rem + 2 * $gutter);
			margin-left: 0;
			transform: none;
		}
	}

	a {
		display: block;
		color: inherit;
	}

	img {
		width: 100%;
	}
}

.page-header-moto {
	padding-right: $gutter;
	padding-left: $gutter;
	line-height: 1.25;
	font-size: 2.75rem;
	text-align: center;
	text-transform: capitalize;
	color: #fff;
}

.page-header-scroll-cta {
	display: inline-block;
	width: 3.5rem;
	height: 3.5rem;
	margin-top: 1.5rem;
	margin-right: auto;
	margin-bottom: 4.5rem;
	margin-left: auto;
	padding: 1rem;

	img {
		width: 100%;
		height: auto;
	}
}

.page-header-flower-container {
	margin-top: 100px;
	position: relative;
	padding-bottom: 20%;
}

.page-header-flower {
	pointer-events: none;
	position: absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
	width: 100%;
	height: 0;
	padding-bottom: percentage(720/1280);
	overflow: hidden;

	svg {
		position: absolute;
		top: 0;
		left: 0;
	}
}
