.page-footer {
	padding-bottom: 2.5rem;

	&::before {
		@include page-border;
	}
}

.page-footer-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding-right: $gutter;
	padding-left: $gutter;
}

.page-footer-logo,
.page-footer-links-section {
	width: 100%;

	@include bp(page-footer-2-on-row) {
		width: 50%;
	}

	@include bp(page-footer-4-on-row) {
		width: auto;
	}
}

.page-footer-logo {
	margin-top: 2.5rem;
	padding-right: $gutter;
	padding-left: $gutter;

	img {
		width: 7.5rem;
	}
}

.page-footer-links-section {
	margin-top: 2.5rem;
	padding-right: $gutter;
	padding-left: $gutter;
}

.page-footer-links-list-label {
	line-height: 1;
	font-size: 1.25rem;
}

.page-footer-links-list {
	margin-top: 1rem;
	padding-left: 0;
	list-style: none;

	li + li {
		margin-top: .5rem;
	}

	a {
		display: inline-block;
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

	.is-external {
	  position: relative;
	  padding-right: .7rem;

	  &:after {
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    content: '\2197\FE0E';
	    font-size: .7rem;
	  }
	}

}

.page-footer-info {
	margin-top: 3.5rem;
	padding-right: $gutter;
	padding-left: $gutter;
	text-align: center;

	small {
		padding-right: $gutter;
		padding-left: $gutter;
		font-size: 1em;
	}

	a {
		padding-right: $gutter;
		padding-left: $gutter;
		color: inherit;

		&:hover {
			text-decoration: none;
		}
	}
}
