.post {
	max-width: (40rem + 2 * $gutter);
	margin-right: auto;
	margin-left: auto;
	padding: 10rem $gutter 5rem;

	@include bp(post-lg) {
		padding-top: 10rem;
		padding-bottom: 5rem;
	}
}

.post-title {
	line-height: 1.25;
	font-size: 1.7rem;
}

.post-date {
	display: block;
	margin-top: .5rem;
	color: $lightblue-to-body-bg;
}

.post-text {
	margin-top: 3rem;

	> * + * {
		margin-top: 1.5rem;
	}
}
