.price-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.price-list-item {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
  
  > * + * {
		margin-top: 1.5rem;
	}
}

@media (min-width: 576px) {
  .price-list-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
