<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#7FA8AD">
<meta name="application-name" content="{{ site.title }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ "favicons/apple-touch-icon-57x57.png"|static_assets }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ "favicons/apple-touch-icon-60x60.png"|static_assets }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ "favicons/apple-touch-icon-72x72.png"|static_assets }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ "favicons/apple-touch-icon-76x76.png"|static_assets }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ "favicons/apple-touch-icon-114x114.png"|static_assets }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ "favicons/apple-touch-icon-120x120.png"|static_assets }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ "favicons/apple-touch-icon-144x144.png"|static_assets }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ "favicons/apple-touch-icon-152x152.png"|static_assets }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicons/apple-touch-icon-180x180.png"|static_assets }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="{{ "favicons/apple-touch-startup-image-320x460.png"|static_assets }}">
<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="{{ "favicons/apple-touch-startup-image-640x920.png"|static_assets }}">
<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="{{ "favicons/apple-touch-startup-image-640x1096.png"|static_assets }}">
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="{{ "favicons/apple-touch-startup-image-750x1294.png"|static_assets }}">
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="{{ "favicons/apple-touch-startup-image-1182x2208.png"|static_assets }}">
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="{{ "favicons/apple-touch-startup-image-1242x2148.png"|static_assets }}">
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="{{ "favicons/apple-touch-startup-image-748x1024.png"|static_assets }}">
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="{{ "favicons/apple-touch-startup-image-768x1004.png"|static_assets }}">
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="{{ "favicons/apple-touch-startup-image-1496x2048.png"|static_assets }}">
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="{{ "favicons/apple-touch-startup-image-1536x2008.png"|static_assets }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicons/favicon-32x32.png"|static_assets }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ "favicons/android-chrome-192x192.png"|static_assets }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicons/favicon-16x16.png"|static_assets }}">
<link rel="shortcut icon" href="{{ "favicons/favicon.ico"|static_assets }}">
