<ul class="page-footer-links-list">
  {% for item in items %}
    <li>
      <a
        {% if item.target == '_blank' %}
          class="is-external"
        {% endif %}
        href="{{ item.link }}"
        target="{{ item.target }}"
      >
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
</ul>
