<footer class="page-footer">
	<div class="page-footer-links">
		<div class="page-footer-logo">
			<img
				src="{{ 'logo-colored.svg'|static_assets }}"
				alt="{{ __('Logo Nano Energies', 'nano-energies') }}"
			>
		</div>

		{% if footer_menu_1 %}
			<section class="page-footer-links-section">
				<h2 class="page-footer-links-list-label">
					{{ __('Odkazy', 'nano-energies') }}
				</h2>
				{% include "partial/footer-menu.twig" with {items: footer_menu_1.items} %}
			</section>
		{% endif %}

		{% if footer_menu_2 %}
			<section class="page-footer-links-section">
				<h2 class="page-footer-links-list-label">
					{{ __('Kam dál', 'nano-energies') }}
				</h2>
				{% include "partial/footer-menu.twig" with {items: footer_menu_2.items} %}
			</section>
		{% endif %}

		{% if footer_menu_3 %}
			<section class="page-footer-links-section">
				<h2 class="page-footer-links-list-label">
					{{ __('Sledujte nás', 'nano-energies') }}
				</h2>
				{% include "partial/footer-menu.twig" with {items: footer_menu_3.items} %}
			</section>
		{% endif %}

	</div>

	<div class="page-footer-info">
		<small>© 2018, <span lang="en">Nano Energies</span> <abbr title="{ __('Akciová společnost', 'nano-energies') }}">a. s.</abbr></small>
		<a href="mailto:info@nanoenergies.cz">info@nanoenergies.cz</a>
	</div>
</footer>
