<nav id="main-nav" class="main-nav">
  <h2 id="main-nav-label" class="visuallyhidden">
    {{ __('Menu', 'nano-energies') }}
  </h2>
  <ul class="main-nav-list">
    <li class="main-nav-lang">
      {% if site.language == 'cs-CZ' %}
        <a
          class="main-nav-link"
          href="{{ languages.en.url }}"
          lang="en-US">
          <span class="main-nav-link-text">English</span>
        </a>
      {% elseif site.language == 'en-US' %}
        <a
          class="main-nav-link"
          href="{{ languages.cs.url }}"
          lang="cs-CZ">
          <span class="main-nav-link-text">Česky</span>
        </a>
      {% endif %}
    </li>
    <li>
      <a
        class="main-nav-link"
        href="{{ not is_home ? site.link }}#{{ __('co-delame', 'nano-energies') }}">
        <span class="main-nav-link-text">
          {{ __('Co děláme', 'nano-energies') }}
        </span>
      </a>
    </li>
    <li>
      <a
        class="main-nav-link"
        href="{{ not is_home ? site.link }}#{{ __('kdo-jsme', 'nano-energies') }}">
        <span class="main-nav-link-text">
          {{ __('Kdo jsme', 'nano-energies') }}
        </span>
      </a>
    </li>
    <li>
      <a
        class="main-nav-link"
        href="{{ not is_home ? site.link }}#{{ __('media', 'nano-energies') }}">
        <span class="main-nav-link-text">
          {{ __('Média', 'nano-energies') }}
        </span>
      </a>
    </li>
    <li>
      <a
        class="main-nav-link"
        href="{{ not is_home ? site.link }}#{{ __('kontakt', 'nano-energies') }}">
        <span class="main-nav-link-text">
          {{ __('Kontakt', 'nano-energies') }}
        </span>
      </a>
    </li>
  </ul>
</nav>
