<header class="page-header">
  <div class="page-header-top-bar is-sticky">

    <div class="page-header-top-bar-without-nav">
      <h1 class="page-header-logo is-large" lang="en-US">
        <a href="{{ site.link }}" title="{{ __('Domovská stránka', 'nano-energies') }}">
          <img
            src="{{ 'logo-white.svg'|static_assets }}"
            alt="{{ __('Nano Energies', 'nano-energies') }}"
          >
        </a>
      </h1>
    </div>

    {% include 'partial/header-menu.twig' %}

  </div>
</header>
