/*
 * What follows is series of CSS rules reseting some browser behaviour.
 * This file includes several h5bp reset rules extended by few of ours.
 */

/* ==========================================================================
   H5BP portion
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */
::selection {
	background-color: $petroleum-light-color;
	text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/* ==========================================================================
   Browser CSS resets and default styles
   ========================================================================== */

/*
 * Basic typography and color style.
 */
html {
	box-sizing: border-box;
	height: 100%;

	&.has-fonts-loaded body {
		font-family: 'Urban Grotesk', sans-serif;
		letter-spacing: 0;
	}
}

/*
 * Set box-sizing globally to handle padding and border widths.
 * Reset all margins.
 */
*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
}

/*
 * Make body 100% height and reset spacing.
 */
body {
	overflow-x: hidden !important; // this value is getting overriden by MicroModal reseting the modal
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5; // Line height is unitless (http://allthingssmitty.com/2017/01/30/nope-nope-nope-line-height-is-unitless/).
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: .35px;
	background-color: $body-bg; // WCAG 2.0 Checklist 1.4.8
	color: $body-font-color; // WCAG 2.0 Checklist 1.4.8
}

/*
 * Headings are always just a bit bigger than general text:
 * https://csswizardry.com/2016/02/managing-typography-on-large-apps/
 */
h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4, h5, h6 {
	font-size: 1rem;
}

/*
 * Reset normalize.css behavior.
 */
h1 {
	margin-top: 0;
	margin-bottom: 0;
}

abbr[title] {
	text-decoration: none;
}

/*
 * Links have low affordance.
 * https://www.w3.org/TR/CSS21/ui.html#propdef-cursor
 */
a {
	color: $body-font-color;
}
a:hover {
	cursor: pointer;
	text-decoration: none;
}

/*
 * Full-width images.
 */
img {
	max-width: 100%;
	height: auto;
}

/* ==========================================================================
   Form resets
   ========================================================================== */

/*
 * Make sure textarea takes on height automatically.
 * Allow only vertical resizing of textareas. (h5bp)
 */
textarea {
	height: auto;
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt (taken from h5bp and customized)
   ========================================================================== */

.browser-upgrade {
	margin: 0;
	padding: .2em 0;
	text-align: center;
	background-color: #ccc;
	color: #000;
}

/* ==========================================================================
   Print styles. (h5bp)
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		/* Always enforce this to ensure better readability, printing and paint savings when printing on paper. */
		background: transparent !important;
		color: #000 !important; /* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	* Don't show links that are fragment identifiers,
	* or use the `javascript:` pseudo protocol
	*/
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	* Printing Tables:
	* http://css-discuss.incutio.com/wiki/Printing_Tables
	*/

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
