@font-face {
	font-family: 'Urban Grotesk';
	src: url(../font/urban-grotesk-regular.woff2) format('woff2'),
		 url(../font/urban-grotesk-regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Urban Grotesk';
	src: url(../font/urban-grotesk-semibold.woff2) format('woff2'),
		 url(../font/urban-grotesk-semibold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}
