// STRIP UNIT
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

// str-replace() - Replace in a string
//
// @param {string}  $string    String that you want to replace
// @param {string}  $substr    String that is to be replaced by `$newsubstr`
// @param {string}  $newsubstr String that replaces `$substr`
// @param {number*} $all       Flag for replaceing all (1+) or not (0)
// @return {string}
@function str-replace($string, $substr, $newsubstr, $all: 0) {
	$position-found: str-index($string, $substr);
	$processed: ();

	@while ($position-found and $position-found > 0) {
		$length-substr: str-length($substr);
		$processed: append($processed, str-slice($string, 0, $position-found - 1));
		$processed: append($processed, $newsubstr);
		$string: str-slice($string, $position-found + $length-substr);

		$position-found: 0;

		@if ($all > 0) {
			$position-found: str-index($string, $substr);
		}
	}

	$processed: append($processed, $string);
	$string: "";

	@each $s in $processed {
		$string: #{$string}#{$s};
	}

	@return $string;
}

// Use to declare `z-index` values. Select `$element` from `$list` and return it's depth (lower in list ~ higher z-index).
// For each context of `z-index` use new list. Lists live in `settings/_z-index.scss`. Default global context is `$z-all`.
// from https://www.smashingmagazine.com/2014/06/12/sassy-z-index-management-for-complex-layouts/
@function z($element, $list: $z-all) {
	$z-index: index($list, $element);

	@if $z-index {
		@return $z-index;
	}

	@warn "There is no item "#{$element}" in this list; choose one of: #{$list}";
	@return null;
}

// --------------------------------------------------------
// TRIGONOMETRY
// taken by https://unindented.org/articles/trigonometry-in-sass/
// --------------------------------------------------------
@function pow($number, $exp) {
	$value: 1;

	@if $exp > 0 {
		@for $i from 1 through $exp {
			$value: $value * $number;
		}
	}
	@else if $exp < 0 {
		@for $i from 1 through -$exp {
			$value: $value / $number;
		}
	}

	@return $value;
}

@function fact($number) {
	$value: 1;

	@if $number > 0 {
		@for $i from 1 through $number {
			$value: $value * $i;
		}
	}

	@return $value;
}

@function pi() {
	@return 3.14159265359;
}

@function rad($angle) {
	$unit: unit($angle);
	$unitless: $angle / ($angle * 0 + 1);

	// If the angle has 'deg' as unit, convert to radians.
	@if $unit == deg {
		$unitless: $unitless / 180 * pi();
	}

	@return $unitless;
}

@function sin($angle) {
	$sin: 0;
	$angle: rad($angle);

	// Iterate a bunch of times.
	@for $i from 0 through 10 {
		$sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
	}

	@return $sin;
}

@function cos($angle) {
	$cos: 0;
	$angle: rad($angle);

	// Iterate a bunch of times.
	@for $i from 0 through 10 {
		$cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
	}

	@return $cos;
}

@function tan($angle) {
	@return sin($angle) / cos($angle);
}
